html {
  height: 100vh;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 570px;
  margin: 0 auto;
  padding: 60px;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.red-text {
  color: cadetblue;
}

#weekly-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* width: 100%; */
  /* box-sizing: border-box; */
}

#weekly-form > div {
  display: flex;
  gap: 10px;
}

#weekly-form label {
  width: 85px;
}

#weekly-form input {
  width: 60px;
}

#weekly-form button {
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  outline: none;
  cursor: pointer;
  margin-top: 10px;
}

.display-result {
  display: none;
  background-color: #efefef;
  border: 5px solid #efefef;
  border-style: outset;
  margin-top: 25px;
  padding: 15px;
}

.display-result > h2 {
  display: inline-block;
  color: cadetblue;
  border: 2px cadetblue;
  border-style: none none solid none;
}

.bold-values {
  font-weight: bold;
}

#summary-div {
  font-weight: 800;
  color: cadetblue;
  margin-bottom: 8px;
}
